[Unit]
Description=Automatic Pisces SMP backups (every 6 hours)

[Timer]
OnCalendar=*-*-* 00,06,12,18:00:00
RandomizedDelaySec=15m
Persistent=true

[Install]
WantedBy=timers.target
